
@{
    ViewData["Title"] = "Startseite";
}

@{ 
    string hello = "Hello World";
    int ergebnis = 3 + 2;
}

<h1>Index</h1>

<p>
    Das ist jetzt Content-Seite....
</p>

<h2>@hello</h2>
<p>Ergebnis: 3 + 2 = @ergebnis</p>

